.light-blue-section {
    background-color: #e6f4fc;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 300px;
    width: auto;
    object-fit: cover;
  }
  
  .card .card-body {
    padding: 20px 0;
    text-align: center;
    color: black;
  }
  
  .bailey-card .card-body {
    background-color: #44d49a; /* Green */
  }
  
  .tiger-card .card-body {
    background-color: #fdce43; /* Yellow */
  }
  
  .fluffy-card .card-body {
    background-color: #e87272; /* Red */
  }
  
  .card-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    margin: 5px 0 0;
    font-size: 1rem;
  }
  
  .search-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    border: 2px solid #1675d3;
    border-radius: 25px;
    overflow: hidden;
    width: 300px;
  }
  
  .search-bar {
    flex-grow: 1;
    border: none;
    padding: 10px;
    outline: none;
  }
  
  .search-btn {
    background-color: #1675d3;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #125ca1;
  }
  .btn-filter {
    background-color: #1675d3;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-filter:hover {
    background-color: #125ca1;
  }
  
  